---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-12">Welcome!</h1>
		<p class="mb-4">
			Steering describes the deliberate control of a model’s behavior for the purposes of improved, or "aligned", performance on downstream tasks. This lab will provide a comprehensive walkthrough of two of IBM's recent open source toolkits for principled measurement and steering of model behavior: <a class="underline hover:no-underline", href="https://github.com/IBM/AISteer360", target="_blank", rel="noreferrer noopener">AI Steerability 360</a> and <a class="underline hover:no-underline", href="https://github.com/IBM/ICX360", target="_blank", rel="noreferrer noopener">In-Context Explainability 360</a>. 

		<p class="mb-4">
			Participants will be provided with both a conceptual introduction to model steering and a guided walkthrough of how to implement steering methods. Attendees will understand how to first inspect a model's behavior (via ICX360), how to use these insights to guide the design of steering controls (via AISteer360), and (closing the loop) how to validate that the intended behavior has been successfully steered. 
		</p>
		
		<p class="mb-4">
			The toolkits presented in this lab are the first open-source resources for comprehensively steering models, and this session will be their first interactive walkthrough, offering a unique learning opportunity for participants. 
		</p>

		<p class="mb-4">
			Early registration is $45 USD for students and $90 for regular/non-student attendees (ends Nov. 19). Standard rates are $55/$115 (Nov. 20–Dec. 14). Late registration is $65/$135 after Dec. 14. <a class="underline hover:no-underline" href="https://aaai.org/conference/aaai/aaai-26/registration/#blt-only" target="_blank" rel="noreferrer noopener">Register here</a>!
		</p>
	</section>


	<section class="mt-16">
		<h2 class="title mb-6 text-xl">Resources</h2>
		<p class="mb-2">
			Coding exercises will be facilitated through <a class="underline hover:no-underline" href="https://colab.research.google.com/" target="_blank" rel="noreferrer noopener">Google Colab</a>; see the introductory notebook <a class="underline hover:no-underline" href="https://colab.research.google.com/notebooks/intro.ipynb" target="_blank" rel="noreferrer noopener">here</a>). Participants are expected to have a good working knowledge of Python and to be familiar with the <a class="underline hover:no-underline" href="https://huggingface.co/docs/transformers/index" target="_blank" rel="noreferrer noopener">Hugging Face Transformers</a> library; newcomers may wish to review the official Transformers tutorial <a class="underline hover:no-underline" href="https://huggingface.co/docs/transformers/en/quicktour" target="_blank" rel="noreferrer noopener">quick tour</a> beforehand.
		</p>

		<p class="mb-4">
		    For details regarding the toolkits covered in this lab, please check out the :
		</p>

	    <div class="space-y-2">
	    	<div class="flex items-center gap-2">
	      		<img src="/darkmode_ais.svg" alt="AI Steerability 360 logo" class="h-6 w-auto" />
	      		<span>AI Steerability 360 toolkit</span>
	      		<div class="text-sm text-gray-400 space-x-3">
			        <a
			          class="underline hover:no-underline"
			          href="https://ibm.github.io/AISteer360/"
			          target="_blank"
			          rel="noreferrer noopener"
			        >
			          Docs
			        </a>
			        <a
			          class="underline hover:no-underline"
			          href="https://github.com/IBM/AISteer360"
			          target="_blank"
			          rel="noreferrer noopener"
			        >
			          Repo
			        </a>
		      </div>
	      		
	    	<div class="flex items-center gap-2">
	      		<img src="/darkmode_icx.svg" alt="In-Context Explainability 360 logo" class="h-6 w-auto" />
	      		<span>In-Context Explainability 360 toolkit</span>
	      		<div class="text-sm text-gray-400 space-x-3">
			        <a
			          class="underline hover:no-underline"
			          href="https://ibm.github.io/ICX360/"
			          target="_blank"
			          rel="noreferrer noopener"
			        >
			          Docs
			        </a>
			        <a
			          class="underline hover:no-underline"
			          href="https://github.com/IBM/ICX360"
			          target="_blank"
			          rel="noreferrer noopener"
			        >
			          Repo
			        </a>
	    		</div>
	    	</div>
	  	</div>
	</section>

	<section class="mt-16">
		<h2 class="title mb-6 text-xl">Organizers</h2>
		<ul class="list-disc list-inside space-y-1">
	      <li>Erik Miehling</li>
	      <li>Dennis Wei</li>
	      <li>Praveen Venkateswaran</li>
	      <li>Irene Ko</li>
	    </ul>
	</section>
</PageLayout>
