---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-12">Welcome!</h1>
		<p class="mb-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, lectus in
			faucibus accumsan, nisi urna luctus justo, non faucibus mauris augue vitae mi. Integer
			tincidunt, nisl eu fermentum consequat, arcu augue mollis risus, ac tempor lorem leo a
			ligula.
		</p>
		<SocialList />
	</section>

	<section class="mt-16">
		<h2 class="title mb-6 text-xl">Resources</h2>
		<p class="mb-2">
			You can find our open-source tooling and example workloads here:
			<br />
			<a
				class="underline hover:no-underline"
				href="https://github.com/IBM/AISteer360"
				target="_blank"
				rel="noreferrer noopener"
				>IBM AISteer360</a
			>
			and
			<a
				class="underline hover:no-underline"
				href="https://github.com/IBM/ICX360"
				target="_blank"
				rel="noreferrer noopener"
				>IBM ICX360</a
			>.
		</p>
	</section>

	<section class="mt-16">
		<h2 class="title mb-6 text-xl">People</h2>
		<p>
			Details about the AAAI 2026 Lab team will be added here soon.
			You can use this section to list faculty, students, and collaborators.
		</p>
	</section>
</PageLayout>
